<div class=“container”>
    <h2> Fan Comic {{title}}</h2>
    
    <ul>
      <!--Utilizo una clase para separarla del parrafo-->
      
      <div class="datos">
       
        <tr>
          <th ><img src="https://media4.giphy.com/media/kPtm0regDqplEXePfo/giphy.gif?cid=790b7611179718a7f232c81fe52c5f02bf26e45d16d9d44c&rid=giphy.gif&ct=g" ></th>
          
   
         </tr>
         <h3>
         <p>Fan Comic Books es una pagina de uso gratuito para leer los comics que a uno les parazcan interesantes o de su agrado, 
           consta con una plataforma sencilla e intutiva de manejar, resulta beneficioso el simple hecho de poder observar comics mediante 
           espacios que no te cubren ni un centavo...
  
          
         </p>
        </h3>
      </div>
     
    </ul>
  
  
    
  </div>
